<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Добавь картиночку :)</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Загрузить">
    </form>
<!--    {% for img in imgs %}-->
<!--        <div><img src="{{ img.img.url }}"></div>-->
<!--&lt;!&ndash;        <div><a href="{{ img.img.url }}">Заргрузить картинку</a></div>&ndash;&gt;-->
<!--    {% endfor %}-->
</body>
</html>