<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
      Hi {{ user.username }}! <a href="{% url 'logout' %}">Log Out</a> <a href="{% url 'password_change' %}">password_change</a>
    {% else %}
      <p>You are not logged in <a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
    <p>--------------------------</p>
    <p><a href="{% url 'catalog:add' %}">Добавить</a></p>
    <p><a href="{% url 'catalog:random_title' %}">Рандом</a></p>
    <p><a href="{% url 'catalog:genre_search' %}">Поиск по жанрам</a></p>
    <p><a href="{% url 'catalog:title_search' %}">Поиск по названию</a></p>
    {% if latest_anime_title_list %}
    <ul>
    {% for name in latest_anime_title_list %}
<!--        <li><a href="/catalog/{{ name.id }}/">{{ name.name_ru }}</a></li>-->
<!--        <li><a href="{% url 'catalog:detail' name.id %}">{{ name.name_ru }}</a></li>-->
        <li><a href="{{ name.get_absolute_url }}">{{ name.name_ru }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>